@model IEnumerable<TransporteMouza.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Cliente</a>
</p>
<div class="table-responsive">
<table class="table">
        <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuitclie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConIva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngresosBrutos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuitclie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConIva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngresosBrutos)
            </td>
            <td>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdCliente">Editar</a>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdCliente">Detalles</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdCliente">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
