@model TransporteMouza.Models.Chofere

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<hr/>
<script type="text/javascript">
    function DeleteConfirm() {
        if (confirm("Estás seguro que deseas eliminar?"))
            return true;
        else
            return false;
    }
</script>

<div>
    <h4>Chofere</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenciaVen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenciaVen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvNavigation.IdProvincia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdChoferes" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return  DeleteConfirm()" /> |
        <input type="hidden" name="del" id="del" values="" />
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
