@model IEnumerable<TransporteMouza.Models.Chofere>

@{
    ViewData["Title"] = "Index";
}

<h1>Choferes</h1>


<p>
    <a asp-action="Create" class="btn btn-success">Crear Chofer</a>
</p>
<div class="table-responsive">
<table class="table"  >
    <thead class="table-dark">
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenciaVen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenciaVen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvNavigation.Provincia)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdChoferes">Editar</a> <br>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdChoferes">Detalles</a> <br> 
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdChoferes">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
