@model TransporteMouza.Models.Unidad

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<hr />
<script type="text/javascript">
    function DeleteConfirm() {
        if (confirm("Estás seguro que deseas eliminar?"))
            return true;
        else
            return false;
    }
</script>


<div>
    <h4>Unidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AñoUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AñoUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChoferes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChoferes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDocumentacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoDocumentacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoUnidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUnidad" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return  DeleteConfirm()" /> |
        <input type="hidden" name="del" id="del" values="" />
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
