@model TransporteMouza.Models.Viaje

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<hr />
<script type="text/javascript">
    function DeleteConfirm() {
        if (confirm("Estás seguro que deseas eliminar?"))
            return true;
        else
            return false;
    }
</script>


<div>
    <h4>Viaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumContenedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumContenedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChoferesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChoferesNavigation.IdChoferes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUnidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUnidadNavigation.IdUnidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdViajes" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return  DeleteConfirm()" /> |
        <input type="hidden" name="del" id="del" values="" />
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
